@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
}
::selection{
  color: #000;
  background: #fff;
}
* {
  box-sizing: border-box;
}
nav{
  position: fixed;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: white;
  font-size: 35px;
  font-weight: 600;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 9px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: white;
  color: black;
}
.img{
  background: url('https://images.pexels.com/photos/1884584/pexels-photo-1884584.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: red;
  font-size: 52px;
  font-weight: 600;
}
.box{
  position: relative;
}

.input {
  padding: 10px;
  width: 290px;
  height: 45px;
  background: none;
  border: 2px solid white;
  border-radius: 10px;
  box-sizing: border-box;
  font-family: 'Poppins',sans-serif;
  font-size: 16px;
  color: #4c2dff;
  outline: none;
  transition: .5s;
  margin-left: 290px;
}
.box:hover input{
  width: 250px;
  border-radius: 10px;
}
.box i{
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translate(-50%,-50%);
  font-size: 24px;
  color: white;
  transition: .2s;
}
.box:hover i{
  opacity: 0;
  z-index: -1;
}

@media(max-width: 767px){
  .menu{
    width: 50%;
    margin-bottom:30px;
 }
}
@media(max-width: 574px){
  .menu{
    width: 100%;
 }
}
.container{
	max-width: 1170px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
.footer{
	background-color:black;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;
}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}
.contact{
  font-size: 23px;
  color:#e91e63;
  font-weight: 300;
  color: white;
  display: block;
  transition: all0.3s ease;
}
.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #ffffff;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: #ffffff;
}

/*responsive*/
@media screen and (max-width: 677px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
  }
  .box , .fa fa-home{
    position: absolute;
    display:block;
    max-width: 100%;
    left:-100%;
    top:70%;
  }

}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}

.banner-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container .banner{
    background:linear-gradient(-55deg,black 29%, white 29.1%, white 68%, black 68.1%);
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
    width: 99%;
}

.banner-container .banner .shoe{
    flex:1 1 250px;
    padding:15px;
    text-align: left;
}

.banner-container .banner .shoe img{
    width: 64%;
}

.banner-container .banner .content{
    flex:1 1 250px;
    text-align: center;
    padding:10px;
    text-transform: uppercase;
}

.banner-container .banner .content span{
    color:black;
    font-size: 25px;
}

.banner-container .banner .content h3{
    color:black;
    font-size: 40px;
}

.banner-container .banner .content p{
    color:black;
    font-size: 20px;
    padding:10px 0;
}

.banner-container .banner .content .btn{
    display: block;
    height:40px;
    width:150px;
    line-height: 40px;
    background: black;
    color:white;
    margin:5px auto;
    text-decoration: none;
}

.banner-container .banner .women{
    position: relative;
    bottom: -33px;
    padding:10px;
    flex:1 1 250px;
}

.banner-container .banner .women img{
    width:100%;
}

@media (max-width:768px){
    .banner-container .banner .women{
        display: none;
    }
}

.banner-container1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner-container1 .banner{
    background:black;
    border-radius: 5px;
    margin:10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 5px 10px #0005;
    overflow: hidden;
    width: 99%;
    height:350px;
}

.banner-container1 .banner .men{
    flex:1 1 250px;
    padding:15px;
    text-align: left;
    margin-left: 20px;
}
.banner-container1 .banner .men img{
    width: 80%;
    height: 280px;
}

.banner-container1 .banner .women{
    flex:1 1 250px;
    padding:15px;
    text-align: left;
}
.banner-container1 .banner .women img{
    width: 73%;
    height: 280px;
}
.banner-container1 .banner .kids{
    position: relative;
    padding:10px;
    flex:1 1 250px;
}

.banner-container1 .banner .kids img{
    width:87%;
    height: 280px;
}

